table{
    width: 100%; 
    height: 98vh;
    border-collapse: collapse; 
}
body{margin: 0;}




td{width: 7.0%; height: 10%; margin: 0;}
.tamanhotxt{font-size: 150%;}
.corf{background-color: rgb(253, 255, 255);}
.centro{font-size: 150%;}

.linha{
    background-color: yellow;
}